body{
    background-color: rgb(43, 42, 42);
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 40vw;
    gap: 10px;
    font-family: "Roboto", sans-serif;
}

.buttonsNav{
    width: 100px;
    height: 40px;
    border: 2px solid rgb(102, 54, 161);
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(138, 90, 197);

}

#mainContainer{
    background-color: rgb(138, 90, 197);
    border: 3px solid rgb(102, 54, 161);
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#listExercises{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#titleExercises{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerExercises{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 10px;
    gap: 10px;
}

.buttonsExercises{
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

